project_id            = "your-gcp-project-id"
region                = "us-central1"
supabase_db_host      = "db.ixwkimgrcuywywjxfnos.supabase.co"
supabase_db_password  = "your-supabase-password"
image_url             = "us-central1-docker.pkg.dev/your-project/cloud-run/kipgo-api:latest"
service_account_email = "kipgo-dev-sa@your-project.iam.gserviceaccount.com"
